* {
  font-family: 'Roboto', sans-serif;
}

.calculator-body {
  display: flex;
  width: 400px;
  height: 600px;
  background-color: gray;
  margin: 0 auto;
  flex-direction: column;
  flex-flow: center;
}

.calculator-window {
 width: 400px;
 height: 100px;

}

.calculator-buttons {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: -16px;
}

.keys {
  width:100px;
  height:80px;
  border: 1px solid gray;
  list-style: none;
  color: black;
  background-color: lightgrey;

}

.operators {

}

.oh {
  flex-grow: 1;
}
