* {
  font-family: 'Roboto', sans-serif;
}

.calculator-body {
  display: flex;
  width: 408px;
  height: 540px;
  background-color: gray;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: 8px 8px 8px 8px;
}

.calculator-window {
  display: flex;
 width: 400px;
 height: 100px;
 color: white;
 justify-content: flex-end;
 align-items: flex-end;;
 font-size: 6em;

}

.calculator-window span {
  margin-right: 10px;
}

.calculator-buttons {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: -16px;
}

.keys {
  display:flex;
  width:100px;
  height:80px;
  border: 1px solid gray;
  list-style: none;
  color: black;
  background-color: lightgrey;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

.numbers:hover {
  background-color: gray;
}

.operators {
  background-color: rgb(245,146,63);
  color: white;
}

.operators:hover {
  background-color: rgb(201,121,55);
}

.oh-button {
  width: 202px;
  border-radius: 0px 0px 0px 7px;
}

.oh-button span  {
  margin-left: -99px;
}
.equal-button {
    border-radius: 0px 0px 7px 0px;
}
